## pycharm project path
**.idea

## temporal md files or others
**/*.md.swp
**/*.swp

## temporal data files
**/test**.avi
**/test**.avi.csv
**/testvideo*
**/basicvideo.*

## temporal TeX files
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/*.out
**/main.pdf

## others
*.ipynb_checkpoints
