## pycharm project path
**.idea

## temporal files and paths
**/*.md.swp
**/*.swp
**/build
**/demo-data-for-sentient
**/*_normalised_quaternions.csv

## temporal data files
**/test**.avi
**/test**.avi.csv
**/testvideo*
**/basicvideo.*
**/raw.githubusercontent.com
**/model.png
**/video_capturevideotest.mp4
**/video_simpleCaptured.mp4
**/simpleCapturedVideo.mp4

## temporal TeX files
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/*.out
**/slides.pdf
**/main.pdf

## temp models
**/best_model*.h5
**/best_transforer_model*.h5

## others
*.ipynb_checkpoints
**/__pycache__
*.egg-info
